$bw-bg-color : rgba(28, 28, 28, 0.7);

.BoardEditor {
    padding-top: 20px;

    textarea {
        width: 100%;
        border-radius: 10px;
        resize: none;
        background-color: $bw-bg-color;
        padding: 5px 10px 5px 10px;
    }

    .title  {
        height: 35px;
    }

    .content {
        height: 400px;
    }
}