.ArticleList {
    height: 100%;

    .articles {
        width: 100%;
        height: 85%;
        overflow: auto;

        table {
            width: 100%;
        }
        tr {
            height: 40px;
            transition: all 0.2s ease-in-out;
        }
        tr:hover {
            opacity: 0.1;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 10px;
        }
    }

    .article {
        width: 100%;
    }
}