* {
    color: white ; /* 드롭다운 글씨 안보여서 !important 지움 */
}

body {
    background-color: rgb(13,12,16)!important;
    color: #ffffff;
}

.wrapper {
    text-align: center;
    padding-top: 100px; 
}

.bg_image{ /* home 배경이미지 */
    background-image: linear-gradient( 
        to right,
        transparent,
      rgba(13, 12, 16, 0.7)
    ), url("./common/images/powder.png");
    background-position: 100% 180%;
    background-repeat: no-repeat;
}

/* .navbar {
    color:rgb(13,12,16);
} */

.content_home .title {
    font-size: 80px;
}

.small_title {
    font-size: 30px;
    text-align: left;
    color: rgb(165,140,253);
    font:bold;
}

.week_comment {
    font-size: 20px;
    text-anchor: start;
    text-align: left;
}

.bg_weekly{
    width: 100%;
    position: absolute;
    top: 0px;
    /* padding-top: 100px; */
    background:
    radial-gradient(circle at 50% 0,
    rgba(13,12,16,.9),
    rgba(255,0,0,0) 70.71%),
  radial-gradient(circle at 6.7% 75%,
    rgba(165,140,253,.5),
    rgba(0,0,255,0) 70.71%),
  radial-gradient(circle at 93.3% 75%,
    rgba(115,199,161,.5),
    rgba(0,255,0,0) 70.71%) rgba(245, 245, 220, 0.158);

    /* linear-gradient(217deg, rgba(115,199,161,.5), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(13,12,16,.5), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(165,140,253,.5), rgba(0,0,255,0) 70.71%); */

}

.box {
    background-color: rgb(13,12,16);
}
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(165,140,253, 0.3), 0 0 40px rgba(165,140,253, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(165,140,253, 0.3), 0 0 40px rgba(165,140,253, 0.1) inset;
            box-shadow:0 1px 4px rgba(165,140,253, 0.3), 0 0 40px rgba(165,140,253, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(165,140,253,0.8);
    -moz-box-shadow:0 0 20px rgba(165,140,253,0.8);
    box-shadow:0 0 20px rgba(165,140,253,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
            box-shadow:0 1px 4px rgba(255, 255, 255, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(255, 255, 255,0.8);
    -moz-box-shadow:0 0 20px rgba(255, 255, 255,0.8);
    box-shadow:0 0 20px rgba(255, 255, 255,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);

}


textarea {
  border: none;
  outline: none;
}

.content_search {
  max-width: 700px;
  margin: 0 auto 20px auto;
  padding: 10px;
}
.content-board {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
  .board-title {
      text-align: start;
  }
}

@media screen and (max-width : 992px) {
  .content-board {
      width: 90%;
  }
}